## EXTRACTING DATA FROM THE RAW DATASETS ##

In [3]:
# importing packages

import pandas as pd
import numpy as np
import ast

In [4]:
# reading the excel files

data1 = pd.read_excel("chennai_cars.xlsx")
data2 = pd.read_excel('bangalore_cars.xlsx')
data3 = pd.read_excel('delhi_cars.xlsx')
data4 = pd.read_excel('hyderabad_cars.xlsx')
data5 = pd.read_excel('jaipur_cars.xlsx')
data6 = pd.read_excel('kolkata_cars.xlsx')

In [5]:
# converting the files to dataframe

chennai_df1 = pd.DataFrame(data1)
bangalore_df1 = pd.DataFrame(data2)
delhi_df1 = pd.DataFrame(data3)
hyderabad_df1 = pd.DataFrame(data4)
jaipur_df1 = pd.DataFrame(data5)
kolkata_df1 = pd.DataFrame(data6)

In [6]:
# ['ignition_type', 'fuel_type', 'body_type', 'kilometers_driven', 'transmission', 'owner nos', 'owner', 'oem', 'model', 'modelyear', 'varientID', 'varient_name', 'price', 'priceActual', 'priceSaving', 'priceFixedText', 'trendingText']
col1 = eval(chennai_df1['new_car_detail'][0]).keys()
complete_cars = pd.DataFrame(columns=col1)

In [7]:
# converting the codes in table to columns

def car_detail(location, loc, count):
    col1 = eval(chennai_df1['new_car_detail'][0]).keys()#evaluating the string 
    get_value = pd.DataFrame(columns=col1)

    for i in range(len(location['new_car_detail'])):
        temp = pd.DataFrame(eval(location['new_car_detail'][i]), columns=col1) #storing the result in dataframe
        temp['location'] = loc # adding location to the dataframe
        temp['index_number'] = count + i # index to remove the duplicated 
        
        get_value = pd.concat([get_value, temp], ignore_index=True) #concating the collected column value with the resultant
        
    get_value.drop_duplicates(subset=['index_number'], inplace=True)# droping the duplicates
    print(loc, ' Completed', " Total rows updated: ", i)
    return get_value

In [8]:
# calling car_details function to collect data from column "new_car_detail"

location = [chennai_df1, bangalore_df1, delhi_df1, hyderabad_df1, jaipur_df1, kolkata_df1]
loc = ['chennai', 'bangalore', 'delhi', 'hydrabad', 'jaipur', 'kolkata']

count  = 0
for i in range(len(location)): #looping each states
    complete_cars = pd.concat([complete_cars, car_detail(location[i], loc[i], count)], ignore_index=True)

    count += 10

complete_cars.rename(columns={'it':'ignition_type', 'ft':'fuel_type', 'bt':'body_type', 'km':'kilometers_driven'}, inplace=True)
complete_cars

chennai  Completed  Total rows updated:  1418
bangalore  Completed  Total rows updated:  1480
delhi  Completed  Total rows updated:  1484
hydrabad  Completed  Total rows updated:  1482
jaipur  Completed  Total rows updated:  1119
kolkata  Completed  Total rows updated:  1380

,ignition_type,fuel_type,body_type,kilometers_driven,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText,location,index_number
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,chennai,0.0
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,chennai,1.0
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,chennai,2.0
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,chennai,3.0
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,chennai,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,₹ 5.10 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,kolkata,1426.0
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,3943,LXI,₹ 1.80 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,kolkata,1427.0
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,₹ 5.50 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,kolkata,1428.0
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,4144,ZXi,₹ 1.40 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,kolkata,1429.0
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,₹ 5 Lakh,,,NaN,https://stimg.cardekho.com/used-cars/common/ic...,kolkata,1430.0

In [9]:
# fetching datas from new_car_overview

def get_car_overview(data, loc):
    
    result = pd.DataFrame({}, columns=['result', 'location'])

    def get_data(dataframe):
        col = dataframe['result'][0].keys()
        temp = pd.DataFrame({}, columns=col)#creating the temp dataframe 
        for i in range(len(dataframe['result'])):# looping through string 
            val = pd.DataFrame(dataframe['result'][i].values())#fetching the values
            val = val.transpose().reset_index(drop=True)
            val.rename(columns={0:'Registration Year', 1:'Insurance Validity', 2:'Fuel Type', 3:'Seats', 4:'Kms Driven', 5:'RTO', 6:'Ownership', 7:'Engine Displacement', 8:'Transmission', 9:'Year of Manufacture'}, inplace=True)
            temp = pd.concat([temp, val], ignore_index=True)            
            
        return temp
            
    
    def extract(row): # extracting the values inside top key
        if row.get('top'):
            return {item['key']: item['value'] for item in row['top']} #returning the top as key value pair
        else:
            return None
    
    
    for j in range(len(data)):#looping through each row
        res = pd.DataFrame({'info': [str(data[j])]}) # result dataframe
    
        res['value_parsed'] = res['info'].apply(ast.literal_eval)
        
        res['result'] = res['value_parsed'].apply(extract)# calling extract function to extract data
        res['location']=loc
        result = pd.concat([result, res[['result', 'location']]]) #concating the dataframe
    result.reset_index(inplace=True)
    result.drop('index', axis=1, inplace=True)

    return get_data(result)

In [10]:
## calling to get new_car_overview data

list = [data1['new_car_overview'], data2['new_car_overview'], data3['new_car_overview'], data4['new_car_overview'], data5['new_car_overview'], data6['new_car_overview']]

overview_df = pd.DataFrame()

for i in range(6):
    overview_df = pd.concat([overview_df, get_car_overview(list[i], loc[i])], ignore_index=True)#calling the result dataframe to combine with extracted value
    print(f"{i+1} state updated..")

overview_df

1 state updated..
2 state updated..
3 state updated..
4 state updated..
5 state updated..
6 state updated..

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
8364,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",First Owner,998 cc,Manual,2022,NaN
8365,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",First Owner,796 cc,Manual,2014,NaN
8366,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011
8367,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",First Owner,1197 cc,Manual,2012,NaN
8368,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",Second Owner,1461 cc,Manual,2017,NaN

In [11]:
# extracting data from new_car_spec
def get_top_spec(data, dataframe):
        
    def extract_top(row):# extracting the top value 
        if row.get('top'):
            top = {items['key']:items['value'] for items in row['top']} # returning the key values pairs of top
            return top
        return None 
        
    col = ['Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats'] #col names

    car_spec_final = pd.DataFrame({}, columns=col)
    
    spec_top = pd.DataFrame({}, columns=col)
    
    spec_data = pd.DataFrame({}, columns=col)
    
    for i in range(len(data)):#looping through the row
        car_spec = pd.DataFrame({
        'info':[data['new_car_specs'][i]]
        })
    
        car_spec['parsed'] = car_spec['info'].apply(ast.literal_eval)# evaluating the string 
        car_spec['top'] = car_spec['parsed'].apply(extract_top)# applying the extracting function to each row
        
        convert_top = pd.DataFrame(car_spec['top'][0].values())# extracting the top value
        convert_top = convert_top.transpose().reset_index(drop=True)
        convert_top.rename(columns={0:'Engine', 1:'Max Power', 2:'Torque', 3:'Wheel Size', 4:'Seats'}, inplace=True)
    
        spec_top = pd.concat([spec_top, convert_top], ignore_index=True)# concating the top value as a row to extract list value

    car_spec_final = pd.concat([car_spec_final, spec_top], ignore_index=True)

    return car_spec_final

In [12]:
location = [chennai_df1, bangalore_df1, delhi_df1, hyderabad_df1, jaipur_df1, kolkata_df1]# state name


spec_tops = pd.DataFrame({}, columns=['Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats'])

for i in range(len(location)):# looping through states
    spec_tops= pd.concat([spec_tops, get_top_spec(location[i], spec_tops)], ignore_index=True)# concatng the extracted values to the dataframe
    print(f"dataframe {i+1} completed, {len(location[i])} updated")

spec_tops

dataframe 1 completed, 1419 updated
dataframe 2 completed, 1481 updated
dataframe 3 completed, 1485 updated
dataframe 4 completed, 1483 updated
dataframe 5 completed, 1120 updated
dataframe 6 completed, 1381 updated

          Engine  Max Power     Torque Wheel Size Seats    5
0         998 CC  118.36bhp      172nm         16     5  NaN
1     15.37 kmpl    1196 CC      73bhp      101Nm     7  NaN
2        20 kmpl     999 CC   98.63bhp      160Nm    16    5
3     19.81 kmpl    1086 CC   68.05bhp    99.04Nm     5  NaN
4      18.7 kmpl    1199 CC    88.7bhp      110Nm    15    5
...          ...        ...        ...        ...   ...  ...
8364  25.24 kmpl     998 CC   65.71bhp       89Nm     5  NaN
8365  22.74 kmpl     796 CC    47.3bhp       69Nm     5  NaN
8366  11.74 kmpl    1796 CC     186bhp      285Nm    17    5
8367   18.5 kmpl    1197 CC   85.80bhp      114Nm    14    5
8368  19.72 kmpl    1461 CC  108.45bhp      245Nm    16    5

[8369 rows x 6 columns]

In [13]:
#columns to fetch the list value
def fetch_list(data):
    
    data_list = pd.DataFrame({}, columns=['value'])#creating the list value
    for i in range(len(data)):#looping the row
        testdf = pd.DataFrame({
            'info': [data['new_car_specs'][i]] # creating the tempdf to add each row
        })
        
        testdf['parsed'] = testdf['info'].apply(ast.literal_eval) #evaluating the string so that dict can be extracted
        
        all_list = []
        
        for sections in testdf['parsed']: #extracting the sections of top
            all_list.extend(sections['data']) #passing the data to list
    
        n = pd.DataFrame({
            'value': [",".join(map(str, all_list))]# combining the results from list to dataframe
        })
        data_list = pd.concat([data_list, n], ignore_index=True)#combining the results 
    return data_list

In [14]:
# extracting the values under the key name "list"
def get_list_from_spec(data):
    temp_list = pd.DataFrame({}, columns=['Color', 'Engine Type', 'Displacement', 'Max Power', 'Max Torque',
           'No of Cylinder', 'Values per Cylinder', 'Fuel Suppy System',
           'Turbo Charger', 'Length', 'Width', 'Height', 'Wheel Base',
           'Kerb Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
           'Steering Type', 'Front Brake Type', 'Rear Brake Type', 'Tyre Type',
           'Alloy Wheel Size', 'No Door Numbers', 'Cargo Volumn'])
    
    def convert_dict(row):#function to extract values
        return {items['heading']:items for items in row}
    
    for i in range(len(spec_list_undone)):#looping through the column created from the previous program
        try:
            df_temp = pd.DataFrame({
                'info': [data['value'][i]] # each row to dataframe
            })
            
            df_temp['parsed'] = df_temp['info'].apply(ast.literal_eval)# extraction of string to dict
            
            df_temp['parsed_con'] = df_temp['parsed'].apply(convert_dict)# applying value function for each row
            
            
            df_temp['parsed_con'][0]
            
            list_values = []
            for section in df_temp['parsed_con'][0].values():#looping through each sections of string
                list_values.extend(section['list'])# selecting the list value
            
            temp_dict = {items['key']: items['value'] for items in list_values}#collecting the key value pairs of it
            
            list_df_i = pd.DataFrame(pd.DataFrame(temp_dict.values(), temp_dict.keys()).transpose().reset_index(drop=True), columns=temp_dict.keys())# adding it to the dataframe
            
            temp_list = pd.concat([temp_list, list_df_i], ignore_index=True)#concating the result and each row dict together
        except TypeError:#handling type error
            temp_list.loc[len(temp_list)] = None
            continue
    return temp_list

In [15]:
# calling the get_list_from_spec function

location = [chennai_df1, bangalore_df1, delhi_df1, hyderabad_df1, jaipur_df1, kolkata_df1]


spec_list_undone = pd.DataFrame({}, columns=['value']) #creating a temp dataframe

for i in range(len(location)):#looping through each loaction
    spec_list_undone= pd.concat([spec_list_undone, fetch_list(location[i])], ignore_index=True) # concating the resultant
    print(f"dataframe {i+1} completed, {len(location[i])} updated")

print("datas under top fetched!.")

spec_list = pd.DataFrame({}, columns=['Color', 'Engine Type', 'Displacement', 'Max Power', 'Max Torque',
           'No of Cylinder', 'Values per Cylinder', 'Fuel Suppy System',
           'Turbo Charger', 'Length', 'Width', 'Height', 'Wheel Base',
           'Kerb Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
           'Steering Type', 'Front Brake Type', 'Rear Brake Type', 'Tyre Type',
           'Alloy Wheel Size', 'No Door Numbers', 'Cargo Volumn'])

print()
print('fetching the values...')
spec_list = pd.concat([spec_list, get_list_from_spec(spec_list_undone)], ignore_index=True)#combining the key value pairs of list
print('values under the name data feched!..')

print()
print('combining top and data')

car_spec = pd.concat([spec_tops, spec_list], axis=1)

spec_list

dataframe 1 completed, 1419 updated
dataframe 2 completed, 1481 updated
dataframe 3 completed, 1485 updated
dataframe 4 completed, 1483 updated
dataframe 5 completed, 1120 updated
dataframe 6 completed, 1381 updated
datas under top fetched!.

fetching the values...
values under the name data feched!..

combining top and data

,Color,Engine Type,Displacement,Max Power,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Length,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,172nm@1500-4000rpm,3,4,GDi,Yes,3995mm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grey,In-Line Engine,1196,73bhp@6000rpm,101Nm@3000rpm,4,4,MPFi,No,3675mm,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,160Nm@2800-3600rpm,3,4,MPFi,Yes,3994mm,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,99.04Nm@4500rpm,4,3,MPFI,No,3585mm,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,110Nm@4800rpm,4,4,PGM - Fi,No,3955mm,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Others,K10C,998,65.71bhp@5500rpm,89Nm@3500rpm,3,4,NaN,NaN,3695mm,...,NaN,NaN,1430,1440,1260,NaN,NaN,NaN,NaN,NaN
8365,Others,F8D Petrol Engine,796,47.3bhp@6000rpm,69Nm@3500rpm,3,4,MPFi,No,3395mm,...,NaN,No,1295mm,1290mm,1185kg,4.6 metres,140 kmph,19 Seconds,NaN,NaN
8366,Others,Blue Efficiency Engine,1796,186bhp@5600rpm,285Nm@2400-4000rpm,4,4,Mpfi,No,4591mm,...,9.3:1,No,1549mm,1552mm,2020kg,5.42 metres,230km/hr,8.8 Seconds,NaN,NaN
8367,Others,K Series Petrol Engine,1197,85.80bhp@6000rpm,114Nm@4000rpm,4,4,MPFI,No,3775mm,...,NaN,No,1470mm,1480mm,1430kg,4.7 metres,156 Kmph,15 Seconds,NaN,NaN
8368,Others,dCi THP Diesel Engine,1461,108.45bhp@4000rpm,245Nm@1750rpm,4,4,CRDi,Yes,4315mm,...,NaN,No,1560mm,1567mm,1889kg,5.2 metres,168 Kmph,14.20 Seconds,NaN,NaN

In [16]:
# combining the complete dataframes extracted 

col = complete_cars.keys().to_list() + overview_df.keys().to_list() + spec_list.keys().to_list()


car_details = pd.concat([complete_cars, overview_df, spec_list], axis=1)

car_details

,ignition_type,fuel_type,body_type,kilometers_driven,transmission,ownerNo,owner,oem,model,modelYear,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,1430,1440,1260,NaN,NaN,NaN,NaN,NaN
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,NaN,No,1295mm,1290mm,1185kg,4.6 metres,140 kmph,19 Seconds,NaN,NaN
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,9.3:1,No,1549mm,1552mm,2020kg,5.42 metres,230km/hr,8.8 Seconds,NaN,NaN
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,NaN,No,1470mm,1480mm,1430kg,4.7 metres,156 Kmph,15 Seconds,NaN,NaN
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,NaN,No,1560mm,1567mm,1889kg,5.2 metres,168 Kmph,14.20 Seconds,NaN,NaN

In [17]:
# converting to csv

car_details.to_csv("car_details.csv", index=False)

print(f'Converted to csv {len(car_details)} updated')

Converted to csv 8369 updated